@import "tailwindcss";

:root {
  --background: #f8f9fc;      /* Soft white-gray */
  --foreground: #1a1f36;      /* Deep navy text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#e2e8f0;    /* Dark blue-grey */
    --foreground:#0f172a;    /* Clean light-grey text */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
